<!-- start footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="img">
                    <img src="../../assets/images/Logo.png">
                    <p>
                        {{'footer' | translate}}
                    </p>
                </div>
            </div>

            <div class="col-lg-3">
                <h4>{{'Quick Links' | translate}} </h4>
                <ul>
                    <li><a>{{'Home' | translate}}</a></li>
                    <li><a>{{'CATEGORIES' | translate}}</a></li>
                    <li><a>{{'ABOUT US' | translate}}</a></li>
                    <li><a>{{'CONTACT US' | translate}}</a></li>
                </ul>
            </div>

            <div class="col-lg-3 ">
                <h4 >{{'CATEGORIES' | translate}}</h4>
                <ul>
                    <li *ngFor="let cat of category"><a  (click)="Gotoproduct(cat.id)">{{cat.name}}<br></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- end footer -->