<!-- start users -->
<div class="container">
    <div class="row  ">
      <div class="col-xl-4 col-lg-4 col-md-12 col-12">
        <div class="users">
          <div class="row text-center">
            <span class="icon"><i class="fas fa-store-alt"></i></span>
            <div class="text ">
              <span class="one">Various payment methods</span><br>
              <span class="two">Pay online or upon receipt </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-12">
        <div class="users">
          <div class="row text-center">
            <span class="icon"><i class="fas fa-headphones-alt"></i></span>
            <div class="text ">
              <span class="one">Customer service wherever you are </span><br>
              <span class="two">24 hours service</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-12">
        <div class="users">
          <div class="row text-center">
            <span class="icon"><i class="fas fa-users"></i></span>
            <div class="text ">
              <span class="one">Domestic and international shipping</span><br>
              <span class="two">The lowest service</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end users -->
  