<!-- start users -->
<div class="container">
    <div class="row  ">
      <div class="col-xl-4 col-lg-4 col-md-6 col-12">
        <div class="users">
          <div class="div justify-content-center">
            <span class="icon"><i class="fas fa-store-alt"></i></span>
            <div class="text "> 
              <span class="one">{{'Various payment methods' | translate}}</span>
              <span class="two">{{'Pay online or upon receipt' | translate}} </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-12">
        <div class="users">
          <div class="justify-content-center div">
            <span class="icon"><i class="fas fa-headphones-alt"></i></span>
            <div class="text ">
              <span class="one">{{'Customer service wherever you are' | translate}} </span>
              <span class="two">{{'24 hours service' | translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-12">
        <div class="users">
          <div class="justify-content-center div">
            <span class="icon"><i class="fas fa-users"></i></span>
            <div class="text ">
              <span class="one">{{'Domestic and international shipping' | translate}}</span>
              <span class="two">{{'The lowest service' | translate}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end users -->
  