/* start navbar */
$maincolor:#42adc1;
$secondcolor:white;
$thirdcolor: #333;
$font-size:16px;
$font-family:"Tajawal", sans-serif;

.navbar{
 
    background-color: $secondcolor;
    .navbar-collapse{

        justify-content: space-around
    }

    .navbar-toggler{
        outline: none;
    }
    .nav-link{

        font-size: $font-size - 4 ;
        text-transform: capitalize;
        color: $thirdcolor;
        margin: 10px 0;
        font-family: $font-family ;
    }
    .dropdown-item{
        font-size: $font-size - 2 ;
        text-transform: capitalize;
        color: $thirdcolor;
    }
    .dropdown-item:hover{
        color:$maincolor ;
    }

    img{
        height: 100px;
    }
}


/* responsive */

