<!-- start background -->
<app-background></app-background>
<!-- end background -->

<!-- start form -->
<div class="form">
    <h4>creat new account </h4>
    <div class="container text-center ">
        <form [formGroup]="LogInForm" (submit)="onSubmit(LogInForm)" class="col-12">
            <div class="inputWithIcon row">
                <div class="col-12">
                    <div class="row" style="justify-content: center">
                        <label for="email" class="col-3">phone number</label>
                        <input type="text" formControlName="phone" class="form-control col-9" />
                    </div>
                </div>
            </div>

            <div class="inputWithIcon row">
                <div class="col-12">
                    <div class="row" style="justify-content: center">
                        <label for="email" class="col-3">first name</label>
                        <input type="text" formControlName="frist_name" class="form-control col-9" />
                    </div>
                </div>
            </div>

            <div class="inputWithIcon row">
                <div class="col-12">
                    <div class="row" style="justify-content: center">
                        <label for="email" class="col-3">laste name</label>
                        <input type="text" formControlName="last_name" class="form-control col-9" />
                    </div>
                </div>
            </div>

            <div class="inputWithIcon row">
                <div class="col-12">
                    <div class="row" style="justify-content: center">
                        <label for="email" class="col-3">user name</label>
                        <input type="text" formControlName="username" class="form-control col-9" />
                    </div>
                </div>
            </div>


            <div class="inputWithIcon row">
                <div class="col-12">
                    <div class="row" style="justify-content: center">
                        <label for="email" class="col-3">email</label>
                        <input type="text" formControlName="email" class="form-control col-9" />
                    </div>
                </div>
            </div>

            <div class="inputWithIcon row">
                <div class="col-12">
                    <div class="row" style="justify-content: center">
                        <label for="password" class="col-3">password
                        </label>
                        <input type="password" formControlName="password" class="form-control col-9" />
                    </div>
                </div>
            </div>

            <div class="inputWithIcon row">
                <div class="col-12">
                    <div class="row" style="justify-content: center">
                        <label for="password" class="col-3"> confirm password
                        </label>
                        <input type="password" formControlName="password_confirmation" class="form-control col-9" />
                    </div>
                </div>
            </div>

            <div class="row FormLink  text-center">
                <div class="col-12 ">
                    <button type="submit" class="btn LogInBtn">
                        create
                    </button>
                </div>
            </div>

            <div class="row FormLink text-center">
                <p style="width: 100%">
                    Already Have Account?<a routerLink="/login">log In</a>

                </p>
            </div>
        </form>
    </div>
</div>
<!-- end form -->