<!-- start background -->
<app-background></app-background>
<!-- end background -->

<!-- start form -->
<div class="form">
    <h4>creat new account </h4>
    <div class="container text-center ">
        <form class="box" action="/action_page_binary.asp" method="post">
            <label for="fname">phone number </label>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="fname">first name</label>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="fname">laste name </label>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="fname">email</label>
            <input type="email" id="fname" name="fname"><br><br>
            <label for="fname">passowrd</label>
            <input type="passowrd" id="fname" name="fname"><br><br>
            <label for="fname">confirm passowrd</label>
            <input type="passowrd" id="fname" name="fname"><br><br>
            <div class="button text-center">
                <button>creat account</button>
            </div>   
            <div class="button text-center">
                <span>Already Have Account? </span> <a routerLink="/login">log In</a>
            </div>    
        </form>
    </div>
    </div>
<!-- end form -->
