<!-- start background -->
<app-background></app-background>
<!-- end background -->

<!-- start form -->
<div class="form">
    <h4>log in </h4>
    <div class="container text-center ">
        <form class="box" action="/action_page_binary.asp" method="post">
            <label for="fname">Email </label>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="fname">password</label>
            <input type="password" id="fname" name="fname"><br><br>
            <div class="button text-center">
                <button>log in</button>
            </div>   
            <div class="button text-center">
                <span>Don't Have Account?</span> <a routerLink="/Regester">Register Now</a>
            </div>    
        </form>
    </div>
    </div>
<!-- end form -->
