<!-- start box -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 ">
            <div class="search  row ">
                <div class="col-12 ">
                    <span> {{'Search About You Want' | translate}}</span>
                    <hr>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-10" style="padding: 0px;">
                            <input style="width:100%" id="name_product">
                        </div>

                        <div class="col-2" style=" padding: 0px;">
                            <div class="but" (click)="search_products()"> <i class="fas fa-search"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class=" col-lg-12 col-md-12 col-sm-12  ">
            <div class="row gifts">
                <div class="col-12 col-md-12 col-sm-12 ">
                    <span>{{'CATEGORIES' | translate}}</span>
                    <hr>
                </div>

                <div class="col-12 co[l-md-12 col-sm-12">
                    <ul>
                        <li *ngFor="let cat of category" (click)="Gotoproduct(cat.id)"> <a>{{cat.name}}</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end box -->