<!-- start box -->
<div class="container">
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 " style=" padding-right: 36px;">
        
        <div class="row">
            <div class="search  row " > 
                <div class="col-12 ">
                    <span> Search About You Want</span>
                    <hr>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-10" style="padding: 0px;">
                            <input style="width:100%">
                        </div>

                        <div class="col-2" style=" padding: 0px;">
                            <div class="but"> <i class="fas fa-search"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class=" col-lg-12 col-md-12 col-sm-12 gifts "  style="padding-right: 50px;">
            <div class="row">
                <div class="col-12 col-md-12 col-sm-12 ">
                    <span>Categories</span>
                    <hr>
                </div>
                <div class="col-12 col-md-12 col-sm-12" >
                    <ul>
                        <li> <a>All Category</a> </li>
                        <li><a>shoes</a> </li>
                        <li> <a>mekuap maybeline</a> </li>
                        <li> <a>bag</a> </li>
                        <li> <a>accssseroies</a> </li>
                        <li><a> brauon</a></li>
                        <li> <a>Test</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- end box -->