<div class="products">
    <div class="content">
        <img src="{{ProductDetails.image}}">
        <div class="middle">
            <div class="icons">
                <div class="row">
                    <i class="fas fa-heart " (click)="addToFav(ProductDetails.id)"></i>
                    <i class="fas fa-cart-plus" (click)="addToCart(ProductDetails.id)"></i>
                </div>
            </div>
        </div>
        <div class="text text-center">
                <span>{{ProductDetails.name}}</span><br>
                <span>{{ProductDetails.price_product}}</span>
        </div>
    </div>
</div>
