<!-- start box -->
<div class="container box">
  
    <div class="all">
        <div class="row">
          <div class="col-lg-5">
            <p class="text">{{'Subscribe To Say Update With Latest News And Discounts' | translate}}</p>
          </div>
          <div class="col-xl-4 col-lg-4 col-sm-11 col-xs-11 ">
            <input type="text" class="email" placeholder="{{'Email' | translate}}">
          </div>
          <div class="col-xl-2 col-lg-2 col-sm-12 col-xs-12  text-center">
           <button>{{'send' | translate}}</button>
          </div>
        </div>    
    </div>
  </div>