<!-- start background -->
<app-background></app-background>
<!-- end background -->

<!-- start box -->
<div class="container" style="margin-top: 10%; margin-bottom: 5%;">
    <div class="row">
        <div class="col-lg-3">
            <app-box></app-box>
        </div>
        <!-- end box -->

        <!-- start gallery -->
        <div class="col-lg-9 products">
            <!-- Rounded tabs -->
            <ul id="myTab" role="tablist" class="nav border-0 text-center ">
                <li class="nav-item ">
                    <a id="home-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true"
                        class="nav-link border-0 text-uppercase font-weight-bold active ">all</a>
                </li>
                <li class="nav-item ">
                    <a id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"
                        class="nav-link border-0 text-uppercase font-weight-bold  ">New Arrival</a>
                </li>
                <li class="nav-item ">
                    <a id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                        aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">Best seller</a>
                </li>
                <li class="nav-item">
                    <a id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                        aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">Popular</a>
                </li>

            </ul>
            <!-- tab -->
            <div id="myTabContent" class="tab-content">
                <div id="all" role="tabpanel" aria-labelledby="all-tab"
                    class="New Arrival tab-pane fade px-4 py-5 show active">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-12 " *ngFor="let i of sessionData.ProductObj">
                            <app-product-card [ProductDetails]='i'></app-product-card>
                        </div>
                    </div>
                </div>


                <div id="home" role="tabpanel" aria-labelledby="home-tab" class="New Arrival tab-pane fade px-4 py-5">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-12 " *ngFor="let i of sessionData.ProductObj">
                            <app-product-card [ProductDetails]='i'></app-product-card>
                        </div>
                    </div>
                </div>
                <!-- tab -->
                <div id="profile" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane fade px-4 py-5">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-12 " *ngFor="let i of sessionData.ProductObj">
                            <app-product-card [ProductDetails]='i'></app-product-card>
                        </div>
                    </div>

                    <!-- tab -->
                </div>
                <div id="contact" role="tabpanel" aria-labelledby="contact-tab" class="tab-pane fade px-4 py-5">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-12 " *ngFor="let i of sessionData.ProductObj">
                            <app-product-card [ProductDetails]='i'></app-product-card>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End rounded tabs -->
        </div>
    </div>
</div>

<!-- end gallery -->