<!-- start background -->
<app-background></app-background>
<!-- end background -->

<!-- start details -->

<div class="container details">
    <div class="row">
        <div class="col-lg-6">
            <div class="img">
                <img src="../../assets/images/14525863331601461685.jpg">
            </div>
        </div>

        <div class="col-lg-6 text-left">
            <div class="text">
                <span style="color: #8d8d8d;">BABY LES</span><br>
                <span style="color: #42adc1;">1800SAR<br>
                    PRICE AFTER DISCOUNT 1728SAR
                </span>
                <span>
                    <i _ngcontent-tqt-c134="" class="fas fa-star" aria-hidden="true"></i>
                    <i _ngcontent-tqt-c134="" class="fas fa-star" aria-hidden="true"></i>
                    <i _ngcontent-tqt-c134="" class="fas fa-star" aria-hidden="true"></i>
                    <i _ngcontent-tqt-c134="" class="fas fa-star" aria-hidden="true"></i>
                    <i _ngcontent-tqt-c134="" class="fas fa-star" aria-hidden="true"></i><bR>
                </span>
                <span>Product Code: <span style="color: #42adc1;">128</span> </span>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="pakge">
                        <div class="quantity">
                            <a>-</a>
                        </div>
                        <div class="input">
                            <input type="text">
                        </div>
                        <div class="plus">
                            <a>+</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 " style="display: flex;">
                    <button class="add-to">add to cart</button>
                    <span class="fav"><i class="fa fa-heart"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end details -->

<!-- start subscribe -->
<app-subscribe></app-subscribe>
<!-- end subscribe -->